* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    position: sticky;
    height: 3rem;
    top: 0px;
    margin: .5rem 0 1rem;
    padding: .5rem 10%;
    background-color: white;
}

nav li {
    display: inline;
}

.nav {
    padding: 0 1rem;
    /*position: absolute;*/
    top: 50%;
}

.right-nav {
    float: right;
}

.tuitt-button {
    background-color: #C2195B;
    padding: 0.5rem;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: 0;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-position: center;
}

.front-bg {
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    color: white;
    text-align: right;
    width: 40%;
    margin: 0 10% 0 auto;
    padding-bottom: 2rem;
}

.subtitle {
    font-size: 1rem;
    margin: 1rem 0;
}

.apply-button {
    background-color: #C2195B;
    padding: 0.5rem;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: 0;
    width: 150px;
}

.title {
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
}

.title-2 {
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}

.intro {
    padding: 4rem 10%;
}


.pre-footer {
    padding: 4rem 10%;
    background-color: #f7fbfb;
    text-align: center;
}

.book-button {
    margin-top: 1rem;
    background-color: #336589;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: 0;
}

footer {
    text-align: center;
}
